{% extends "layout.html" %} {% block content %}
<h1 id="text_color" class="center-block text-center">ABOUT ME</h1>
<div class="mt-lg-4">
<h2 id="text_color" class="text-center">Hi {{ current_user.first_name }}! </h2>
<p id="text_color" class="m-4">My name is Henry and I am a currently on a journey of pursuing my Computer Science Certification with Harvard University. My personal goal is to become a junior software engineering or cyber security specialist.
    Just prior to this, I was an self-employed entrepreneur in marketing and advertising mainly on social media platforms like Facebook, YouTube, etc. A little more about myself...</p>

<p id="text_color" class="m-4">On my spare time, the first thing I love is getting
in a great run in the morning before diving deep into my work. I also love gaming and being active trying new activities such as other sports. Lastly, spending time with my Wife is the most precious thing I hold dearest.</p>

<p id="text_color" class="m-4">I've personally started this website for my github project while also practicing and honing my programming experience. I would personally love to thank you for your time in visiting my first solo website
project!</p>
<hr style="width:100%", size="10">
<h2 id="text_color" class="text-center">Links</h2>
<div class="container">
    <div class="text-center col-sm m-3">
        <a href="https://github.com/hyan0217">
            <p id="profile_links">Github Projects</p>
        </a>
        <br/>
        <a href="https://www.linkedin.com/in/henryyan17/">
            <p id="profile_links">Linkedin Profile</p>
        </a>
    </div>
</div>
{% endblock %}