{% extends "layout.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm m-2">
            <a id="text_link" href="{{ url_for('angelnumber33') }}">
                <h2><b class="fs-1">Angel Number 33 Meaning</b></h2>
            </a>
            <a href="{{ url_for('angelnumber33') }}">
                <img src="{{url_for('static', filename="angel_meaning.jpg")}}" class="pull-right" width="100%" height="400px" alt="Angel Number 33 Meaning">
            </a>
            <a id="text_link" href="{{ url_for('angelnumber33') }}">
                <p id="parag_color-right" class="m-2">What is the spiritual meaning of angel number 33?</p>
            </a>
        </div>
        <div class="col-sm m-2">
            <a id="text_link" href="{{ url_for('firespiritual') }}">
                <h2 id="text_color"><b class="fs-1">Fire Spiritual Meaning</b></h2>
            </a>
            <a href="{{ url_for('firespiritual') }}">
                <img src="{{url_for('static', filename="fire_spiritual.jpg")}}" class="pull-right" width="100%" height="400px" alt="Fire Spiritual Meaning">
            </a>
            <a id="text_link" href="{{ url_for('firespiritual') }}">
                <p id="parag_color-right" class="m-2">Is fire representative of emotions?</p>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm m-2">
            <a id="text_link" href="{{ url_for('lovesigns') }}">
                <h2><b class="fs-1">Love Synchronicity Signs</b></h2>
            </a>
            <a href="{{ url_for('lovesigns') }}">
                <img src="{{url_for('static', filename="love_signs.jpg")}}" class="pull-right" width="100%" height="400px" alt="Love Synchronicity Signs">
            </a>
            <a id="text_link" href="{{ url_for('lovesigns') }}">
                <p id="parag_color-right" class="m-2">What is the love synchronicity sign that the universe wants me to be with someone?</p>
            </a>
        </div>
        <div class="col-sm m-2">
            <a id="text_link" href="{{ url_for('lifepath7') }}">
                <h2 id="text_color"><b class="fs-1">Life Path 7 Compatibility</b></h2>
            </a>
            <a href="{{ url_for('lifepath7') }}">
                <img src="{{url_for('static', filename="life_path_7.jpg")}}" class="pull-right" width="100%" height="400px" alt="Life Path 7 Compatibility">
            </a>
            <a id="text_link" href="{{ url_for('lifepath7') }}">
                <p id="parag_color-right" class="m-2">Is life path number 7 spiritual?</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}