{% extends "layout.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm m-2">
            <a id="text_link" href="{{ url_for('angelnumber33') }}">
                <h2><b class="fs-1">Angel Number 33 Meaning</b></h2>
            </a>
            <a href="{{ url_for('angelnumber33') }}">
                <img src="{{url_for('static', filename="iotd_api.jpg")}}" class="pull-right" width="100%" height="400px" alt="Angel Number 33 Meaning">
            </a>
            <a id="text_link" href="{{ url_for('angelnumber33') }}">
                <p id="parag_color-right" class="m-2">The image of the day is pulled directly from Nasa's database using api.</p>
            </a>
        </div>
        <div class="col-sm m-2">
            <a id="text_link" href="{{ url_for('weather') }}">
                <h2 id="text_color"><b class="fs-1">Check Your Local Weather</b></h2>
            </a>
            <a href="{{ url_for('weather') }}">
                <img src="{{url_for('static', filename="owp_api.jpg")}}" class="pull-right" width="100%" height="400px" alt="Henry's Weather App from WeatherOpenMap">
            </a>
            <a id="text_link" href="{{ url_for('weather') }}">
                <p id="parag_color-right" class="m-2">This weather app is using WeatherOpenMap's Dark Sky API to obtain the most accurate and up-to-date weather.</p>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm m-2">
            <a id="text_link" href="{{ url_for('apod') }}">
                <h2><b class="fs-1">Get NASA's Image Of The Day</b></h2>
            </a>
            <a href="{{ url_for('apod') }}">
                <img src="{{url_for('static', filename="iotd_api.jpg")}}" class="pull-right" width="100%" height="400px" alt="Henry's Image of the day from Nasa">
            </a>
            <a id="text_link" href="{{ url_for('apod') }}">
                <p id="parag_color-right" class="m-2">The image of the day is pulled directly from Nasa's database using api.</p>
            </a>
        </div>
        <div class="col-sm m-2">
            <a id="text_link" href="{{ url_for('weather') }}">
                <h2 id="text_color"><b class="fs-1">Check Your Local Weather</b></h2>
            </a>
            <a href="{{ url_for('weather') }}">
                <img src="{{url_for('static', filename="owp_api.jpg")}}" class="pull-right" width="100%" height="400px" alt="Henry's Weather App from WeatherOpenMap">
            </a>
            <a id="text_link" href="{{ url_for('weather') }}">
                <p id="parag_color-right" class="m-2">This weather app is using WeatherOpenMap's Dark Sky API to obtain the most accurate and up-to-date weather.</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}