<footer class="text-center text-lg-start bg-dark text-muted">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
    </div>
    <div>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 id="category-directory" class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Weathering Clouds
          </h6>
          <p id="category-directory">
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 id="category-directory" class="text-uppercase fw-bold mb-4">
            Explore More
          </h6>
          <p>
            <a href="{{url_for('about')}}" class="text-reset">About</a>
          </p>
          <p>
            <a id="category-directory" href="{{url_for('contact')}}" class="text-reset">Contact</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 id="category-directory" class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a id="category-directory" href="https://api.nasa.gov/" class="text-reset">Nasa API</a>
          </p>
          <p>
            <a id="category-directory" href="https://openweathermap.org/" class="text-reset">OpenWeatherMap API</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <img src="{{url_for('static', filename="weather_cloud_icon.png")}}" width="100%"/>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/hyan0217">Henry's Github Projects</a>
  </div>
</footer>