{% extends "layout.html" %} {% block content %}
<div class="mt-lg-4 m-5">
<h1 id="headline-1" class="text-center">WEATHERING CLOUDS</h1>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{{url_for('static', filename="bright_clouds.jpg")}}" alt="Bright sunlight shining out from the skies">
            <div class="carousel-caption d-none d-md-block">
                <h5>Natural Sunlight</h5>
                <p>Bright and sunny skies signals the coming of spring.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{{url_for('static', filename="sunset.jpg")}}" alt="Sunsetting in the countryside">
            <div class="carousel-caption d-none d-md-block">
                <h5>The perfect Sunset</h5>
                <p>As the night approaches... the sun shall set. </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{{url_for('static', filename="lightning_sky.jpg")}}" alt="Dark sky with thunderstorm">
            <div class="carousel-caption d-none d-md-block">
                <h5>Lightning Never Strikes Twice</h5>
                <p>With the dark skies, comes the thundering clouds.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{{url_for('static', filename="foggy_sky.jpg")}}" alt="Early foggy morning">
            <div class="carousel-caption d-none d-md-block">
                <h5>Early Morning Fog</h5>
                <p>As the sun rises and the fog appears... So shall the breath of fresh air.</p>
            </div>
        </div>
    </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
</div>
<br/>
<hr style="width:100%", size="10">
<div class="container">
    <div class="row">
        {% if current_user.is_authenticated %}
        <div class="col-sm m-3">
            <h2 id="text_color"><b class="fs-1">Hello {{ current_user.first_name }} and welcome to my website!</b></h2>
            <br/>
            <h3 id="text_color" class="fs-5">Today's Date is: {{today}}</h3>
        </div>
        <div class="col-sm">
            <p id="text_color" class="m-4">I'm Henry and thank you for visiting my site. Please feel free to explore around and test the Nasa and weather app I've created!</p>
            <p id="text_color" class="m-4">Please don't hesitate to contact me if you have any questions! This page is created as a project for CS50 Harvard University.</p>
            <p id="text_color" class="m-4">For more information about me please visit my about page below.</p>
        </div>
        {% else %}
        <p id="text_color" class="text-center fs-1">Welcome to Weathering Clouds!</p>
        <p id="text_color" class="text-center fs-6">Make sure to <a href="{{ url_for('register') }}"><b>Register</b></a> for an account in order to see all the content my site has to offer!</p>
        {% endif %}
    </div>
</div>
<hr style="width:100%", size="10">
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a id="text_link" href="{{ url_for('apod') }}">
                <h2><b class="fs-1">Get NASA's Image Of The Day</b></h2>
            </a>
            <a href="{{ url_for('apod') }}">
                <img src="{{url_for('static', filename="iotd_api.jpg")}}" class="pull-right" width="100%" height="400px" alt="Henry's Image of the day from Nasa">
            </a>
            <a id="text_link" href="{{ url_for('apod') }}">
                <p id="parag_color" class="m-2">The image of the day is pulled directly from Nasa's database using api.</p>
            </a>
        </div>
        <div class="col-sm">
            <a id="text_link" href="{{ url_for('weather') }}">
                <h2 id="text_color"><b class="fs-1">Check Your Local Weather</b></h2>
            </a>
            <a href="{{ url_for('weather') }}">
                <img src="{{url_for('static', filename="owp_api.jpg")}}" class="pull-right" width="100%" height="400px" alt="Henry's Weather App from WeatherOpenMap">
            </a>
            <a id="text_link" href="{{ url_for('weather') }}">
                <p id="parag_color" class="m-2">This weather app is using WeatherOpenMap's Dark Sky API to obtain the most accurate and up-to-date weather.</p>
            </a>
        </div>
    </div>
</div>
<hr style="width:100%", size="10">
<br/>
<h2 class="pull-right text-center">EXPLORE THE APIs THAT MADE THESE PROJECTS POSSIBLE</h2>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a id="text_link" href="https://api.nasa.gov/">
                <h2><b class="fs-1">Explore NASA's API</b></h2>
            </a>
            <a href="https://api.nasa.gov/">
                <img src="{{url_for('static', filename="milky_way_nasa.jpg")}}" width="100%" height="400px" alt="Explore Nasa's API">
            </a>
            <a id="text_link" href="https://api.nasa.gov/">
                <p id="parag_color" class="col-sm m-2">Take a look at NASA's API portal. Free to use and the objective of the site is to make use of NASA's data, 
                including imagery, eminently accessible to application developers. The main goal is to focus on broadly useful and user friendly APIs.</p>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a id="text_link" href="https://openweathermap.org/api">
                <h2><b class="fs-1">Explore WeatherOpenMap's API</b></h2>
            </a>
            <a href="https://openweathermap.org/api">
                <img src="{{url_for('static', filename="rainy_day_weather.jpg")}}" width="100%" height="400px" alt="Explore more of OpenWeatherMap's API">
            </a>
            <a id="text_link" href="https://openweathermap.org/api">
                <p id="parag_color" class="col-sm m-2">Experience real-time and accurate weather with the free api from OpenWeather. OpenWeather platform is a set of elegant and widely recognisable APIs. 
                Powered by convolutional machine learning solutions, it is capable of delivering all the weather information necessary for decision-making for any location on the globe.</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}
