<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('index')}}">Weathering Clouds</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <b>Explore The Projects</b>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="{{url_for('apod')}}">APOD: Astronomy Picture Of the Day</a></li>
            <li><a class="dropdown-item" href="{{url_for('weather')}}">Weather Forecast</a></li>
            <li><a class="dropdown-item" href="{{url_for('articles')}}">Law of Attraction Articles</a></li>
          </ul>
        </div>
      </ul>
      <img id="icons" src="{{url_for('static', filename="nasa_icon.png")}}" width="5%">
      <img id="icons" src="{{url_for('static', filename="ipapi.png")}}" width="5%" />
      <img id="icons" src="{{url_for('static', filename="openweather_icon.png")}}" width="10%" />
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('account')}}">Account</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('login')}}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('register')}}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <img src="{{url_for('static', filename="weather_cloud_icon.png")}}" width="10%"/>
  </div>
</nav>
