{% extends "layout.html" %} {% block content %}
<h1 class="center-block">NASA Astronomy Picture Of The Day</h1>
<br/>
<h2>Today's Title: {{title}} </h2>
<h3>Date: <span id="date">{{dates}}</span></h3>
<br/>
<img class="center-block" src="{{hdurl}}" alt="NASA Picture of The Day" width="100%">
<br/>
<p id="explanation"><b>Description:</b> {{explanation}}</p>
<br/>
<h3>Search for a Different Image (Input Date)</h3>
  <form method="GET" action="{{url_for('search')}} "class="d-flex">
    <label for="Search">Search:</label>
    <input type="date" id="search" name="search">
    <input class="btn btn-outline-secondary" type="submit" value="Submit">
    <br/>
  </form>
{% endblock %}