{% extends "layout.html" %} {% block content %}
<h1 class="center-block">Weather</h1>
    <div class="title">
        <div class="container h-100">
            <div class="row">
                <div class="form-group">
                        {{ form.submit(class="btn btn-info btn-block") }}
                    </form>
                </div>
                <div class="col-md-2 col-sm-5 col-xs-5 pt-3">
                    <form method="POST" class="card border-0 p-3 shadow-sm">
                        <button class="btn btn-info btn-block">Use Location</button>
                    </form>
                </div>
            </div>
                <br/>
                <div class="form-group">
                    {{form.city(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.country(class="form-control")}}
                </div>         
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12 col-xs-12 pt-5">
                    <div class="card border-0 p-3 shadow-sm text-center">
                        <h2><b id="weather_title">Your Current Weather Forecast For:</b></h2>
                        <h2 class="text-muted"><b id="weather_title">{{location}}</b></h2>
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-sm-12 col-xs-12 pt-3">
                                <div class="text-center">
                                <img src="http://openweathermap.org/img/w/{{icon}}.png" alt="Weather Icon" width="30%" class="text-center">
                                <h5 class="text-muted"><b>{{desc}}</b></h>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-sm-12 col-xs-12 pt-5">
                                <h5 class="lead text-muted"><b>Temperature:</b> {{temp}}°</h5>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 pt-5">
                                <h5 class="lead text-muted"><b>Humidity:</b> {{humid}}%</h5>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-sm-12 col-xs-12 pt-5">
                                <h5 class="lead text-muted"><b>Wind Speed:</b> {{speed}} mph</h5>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 pt-5">
                                <h5 class="lead text-muted"><b>Feels Like:</b> {{feels}}°</h5>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-sm-12 col-xs-12 pt-5">
                                <h5 class="lead text-muted"><b>Clouds are moving at:</b> {{clouds}} mph</h5>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 pt-5">
                                <h5 class="lead text-muted"><b>Current UV Index:</b> {{uvi}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row justify-content-center">
            <div id="weather_txt" class="col-md-6 col-sm-12 col-xs-12 pt-5">
                <div id="weather_container" class="card border-0 p-3 shadow-sm text-center">
                    <div class="text-center">
                    <h5 class="lead text-muted"><b>Today {{first_day}}</b></h5>
                    <img src="http://openweathermap.org/img/w/{{first_day_icon}}.png" alt="Weather Icon" width="50%" class="text-center">
                    <h5 class="lead text-muted"><b>{{first_day_desc}}</b></h5>
                    </div>
                    <h5 class="lead text-muted"><b>Day:</b> {{first_day_temp}}°</h5>
                    <h5 class="lead text-muted"><b>Night:</b> {{first_night_temp}}°</h5>
                    <h5 class="lead text-muted"><b>Humidity:</b> {{first_day_humidity}}%</h5>
                </div>
            </div>
            <div id="weather_txt" class="col-md-6 col-sm-12 col-xs-12 pt-5">
                <div id="weather_container" class="card border-0 p-3 shadow-sm text-center">
                    <div class="text-center">
                    <h5 class="lead text-muted"><b>Tomorrow {{second_day}}</b></h5>
                    <img src="http://openweathermap.org/img/w/{{second_day_icon}}.png" alt="Weather Icon" width="50%" class="text-center">
                    <h5 class="lead text-muted"><b>{{second_day_desc}}</b><h5>
                    </div>
                    <h5 class="lead text-muted"><b>Day:</b> {{second_max_temp}}°</h5>
                    <h5 class="lead text-muted"><b>Night:</b> {{second_min_temp}}°</h5>
                    <h5 class="lead text-muted"><b>Humidity:</b> {{second_day_humidity}}%</h5>
                </div>
            </div>
            <div id="weather_txt" class="col-md-6 col-sm-12 col-xs-12 pt-5">
                <div id="weather_container" class="card border-0 p-3 shadow-sm text-center">
                    <div class="text-center">
                    <h5 class="lead text-muted"><b>{{third_day}}</b></h5>
                    <img src="http://openweathermap.org/img/w/{{third_day_icon}}.png" alt="Weather Icon" width="50%" class="text-center">
                    <h5 class="lead text-muted"><b>{{third_day_desc}}</b></h5>
                    </div>
                    <h5 class="lead text-muted"><b>Day:</b> {{third_max_temp}}°</h5>
                    <h5 class="lead text-muted"><b>Night:</b> {{third_min_temp}}°</h5>
                    <h5 class="lead text-muted"><b>Humidity:</b> {{third_day_humidity}}%</h5>
                </div>
            </div>
            <div id="weather_txt" class="col-md-6 col-sm-12 col-xs-12 pt-5">
                <div id="weather_container" class="card border-0 p-3 shadow-sm text-center">
                    <div class="text-center">
                    <h5 class="lead text-muted"><b>{{fourth_day}}</b></h5>
                    <img src="http://openweathermap.org/img/w/{{fourth_day_icon}}.png" alt="Weather Icon" width="50%" class="text-center">
                    <h5 class="lead text-muted"><b>{{fourth_day_desc}}</b></h5>
                    </div>
                    <h5 class="lead text-muted"><b>Day:</b> {{fourth_max_temp}}°</h5>
                    <h5 class="lead text-muted"><b>Night:</b> {{fourth_min_temp}}°</h5>
                    <h5 class="lead text-muted"><b>Humidity:</b> {{fourth_day_humidity}}%</h5>
                </div>
            </div>
            <div id="weather_txt" class="col-md-6 col-sm-12 col-xs-12 pt-5">
                <div id="weather_container" class="card border-0 p-3 shadow-sm text-center">
                    <div class="text-center">
                    <h5 class="lead text-muted"><b>{{fifth_day}}</b></h5>
                    <img src="http://openweathermap.org/img/w/{{fifth_day_icon}}.png" alt="Weather Icon" width="50%" class="text-center">
                    <h5 class="lead text-muted"><b>{{fifth_day_desc}}</b></h5>
                    </div>
                    <h5 class="lead text-muted"><b>Day:</b> {{fifth_max_temp}}°</h5>
                    <h5 class="lead text-muted"><b>Night:</b> {{fifth_min_temp}}°</h5>
                    <h5 class="lead text-muted"><b>Humidity:</b> {{fifth_day_humidity}}%</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}